
.navbg{
    height: 80px;
}

ul li{
    float: right;
    padding: 10px 30px;
}

ul a{
    text-decoration: none;
    display: inline-block;
    color: #e1e0e0;
}

ul a:hover,ul li:hover{
    color: white;
}

.divbg{
    height: 625.094px;
    width: 100%;
    position: absolute;
    background: url("/images/bg.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.opacityedit{
    background-color: #000;
    height: 625.094px;
    opacity: .25;
    position: absolute;
    width: 100%;
    z-index: 2;
}


.hedit{
    position: relative;
    z-index: 3;
    color: white;
    font-family: Avenir;
    font-size: 50px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 1.29;
    text-align: center;
    height: 625.094px;
    background: none;
    margin-bottom: 0;
    padding-top: 7.5%;
}

.hmbtn{
    margin-top: 50px;
    font-size: 40px;
    background-color: #EDEDED;
    text-align: center;
    color: black;
    font-family: ProximaNova;
    padding: 10px;
    text-align: center;
    z-index: 3;
    border-radius: 5px;
    border: 2px solid black;
}

.hmbtn:hover, .hmbtn:active{
    text-decoration: none;
    background-color: #f6f4f4;
    color: black;
}

.body{
    background  : #343A40;
}